.project-table {
	padding-right:5px;
	padding-left:5px;
	min-height: 200px;
	padding-bottom: 10px;
}

@media (max-width: 838px) {
	.project-table {
		width: 80%;
		margin-left: 10%;
	}
}

@media (min-width: 839px) {
	.project-table {
		width: 600px;
		margin-left: 200px;
	}
}

.view-navigation-view-padding {
	margin-right: 12%;
}

.view-padding {
	padding-right:10px;
}

.view-navigation {
	width:70% !important; 
	min-width:410px !important;
}

.inner-view {
	width:70%; 
	margin-left:15%; 
	min-width:400px; 
	margin-right:5%;
}

.project-navigation {
	margin-left: 15%;
}

.section-header {
	margin-left: 40px;
}
.well-white {
	background-color: #FDFDFD;
}

.translations {
	padding-left: 20px;
}

.disabled-token {
	display: none;
}

.key-description {
	color: #666;
	margin-top:-10px;
	padding-left:10px;
}

.translate-area {
	max-width: 86%;
	min-width: 86%;
	display: inline-block;
}

.translate-area-container {
	padding-left: 20px;
}

.translate-field {
	max-width: 100%;
	min-width: 100%;
}

.submit-area {
	padding-left: 20px;
	width: 95%;
	margin-right: 20px;
}

.tokens {
	padding-left: 30px;
	padding-top: 10px;
} 

.tokens-table td {
	padding-right: 30px;
}

.tokens-table a {
	cursor: pointer;
}

.approve-container {
	display: inline-block;
	width: auto;
}

.key {
	padding-top: 10px;
	padding-left: 20px;
}

.space-right {
	margin-right: 5px; 
}

.language-key-edit {
	padding-top: 10px;
	padding-left: 20px;
}