.project-table {
	width: 600px;
	margin-left: 200px;
	padding-right:5px;
	padding-left:5px;
	min-height: 200px;
	padding-bottom: 10px;
}

.project-navigation {
	margin-left: 15%;
}

.section-header {
	margin-left: 40px;
}