@charset "utf-8";
/* CSS Document */

.page-container{
  position: relative;
  margin-top: 20px;
  padding-bottom: 30px;
}

.length_select{
	background: transparent;
  padding-right: 5px;
  border: 1px solid #ccc;
  width: 240px;
  overflow: hidden;
}

input {
    max-width: 100%;
} 

* {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-color: transparent;
  outline-style: none;
}
.fixed {
  position: fixed !important;
}

.space {
  margin-left: 40px;
}

select:focus {
   outline-color: transparent !important;
}

a[data-target] {
  cursor: pointer;
}

.disabled {
  display: none;
}

#loading {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  clear:both;
  margin-top: -32px; 
  margin-left: -32px;
  width: 64px;
  height: 64px;
}

html {
  height: 100%;
  min-height: 100%;
}

.disabled_page{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

@media (max-width: 767px) {
  [class*="span"], .row-fluid [class*="span"]{
    float:left;
  }
  .searh-field-row{
    right: 0px;
    position: absolute;
  }
  .row-fluid:last-child {
    right: 0px;
  }

  .navbar-fixed-bottom .navbar-inner {
    padding-left: 20px;
  }
}